<div class= text-center><h2> Your Progress Dashboard </h2></div>
{{!-- {{#if currentUserInfo.isLaunderer}}
  <h3> You are a launderer </h3>

  <p>
    Your laundering fee is
    <b>${{ currentUserInfo.fee }}.</b>
  </p>
{{else}}
  <h3> Want to become a launderer? </h3>

  <form action="/launderers" method="post">
    <div>
      <label for="fee-input"> Set your fee </label>
      <input type="number" name="fee" id="fee-input">
    </div>

    <button> Become a Launderer </button>
  </form>
{{/if}}

<h3> Pending Pickups </h3>

<ul>
{{#each pickups}}
    <li>
      <h4> {{ this.pickupDate }} </h4>

      <ul>
        <li> <b>User</b>: {{ this.user.name }} </li>
        <li> <b>Launderer</b>: {{ this.launderer.name }} </li>
      </ul>
    </li>
{{/each}}
</ul> --}}




<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Weight</th>
        <th scope="col">BF</th>
        <th scope="col">Fat</th>
        <th scope="col">LBM</th>
      </tr>
    </thead>
    <tbody>
      {{#each checkpoints}}
      <tr>
        <td>{{this.checkpointDate}}</td>
        <td>{{this.weight}}  lb</td>
        <td>{{this.bf}}%</td>
        <td>{{this.fat}}</td>
        <td>{{this.lbm}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>



<div class="container">
  <form action="/dashboard" class = "form-group" method="post">
    <div class='mt-3'>
      <label for="weight-input"> Weight </label>
      <input type="text" class="form-control" name="weight" id="weight-input"
        placeholder="e.g., 120 lb">
    </div>
  
    <div class='mt-3'>
      <label for="bf-input"> Body Fat % </label>
      <input type="number" class="form-control" name="bf" id="bf-input"
        placeholder="e.g., 15%">
    </div>
      <div class="text-center">
      <button type="submit" class="btn btn-primary mt-3"> Add New Checkpoint </button></div>
  </form>
</div>


<div class='container text-center mt-5'>
  <img src="/images/BFChart.jpg" alt="">
</div>


